.DS_Store

## Build products
build/

## Project files
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace

## Workspace files
*.xcworkspace/xcuserdata/

## jazzy-generated documentation
docs/

## SQLite source
sqlite-src-*.zip
sqlite-src-*/*
sqlite
