.DS_Store

## Build products
/.build
/Packages

## Project files
/*.xcodeproj

## Workspace files
xcuserdata/

## jazzy-generated documentation
/docs/

## SQLite source
sqlite-src-*.zip
sqlite-src-*/*
